{
    "employees": [
        {
            "id": 1,
            "name": "Joe",
            "departmentId": 2,
            "computerId": 3
        },
        {
            "id": 2,
            "name": "Mary",
            "departmentId": 1,
            "computerId": 2
        },
        {
            "id": 3,
            "name": "John",
            "departmentId": 3,
            "computerId": 1
        }
    ],
    "departments": [
        {
            "id": 1,
            "branch": "Human Resources"
        },
        {
            "id": 2,
            "branch": "Software Development"
        },
        {
            "id": 3,
            "branch": "Sales"
        }
    ],
    "computers": [
        {
            "id": 1,
            "brand": "Apple"
        },
        {
            "id": 2,
            "brand": "Dell"
        },
        {
            "id": 3,
            "brand": "Acer"
        }
    ]
}